.primary {
    color: #09fdd9;
}

.secondary {
    color: #fe0a54;
}

.a {

    color: lightgrey;
    font-family: 'Abel', sans-serif;
}

.j {
    color: white;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    background-color: black;
}

.c{
    background-color: black;
}

.card {
    background-color:black;
    color: white;

}
.special{
    border-left-color: #fe0a54;
    border-left-width: 5px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: black ;
    color:floralwhite;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

.row-content {
    padding: 80px 0px 0px 0px;
}

.card img{
    width: 400px;
    height: 210px;
}
.card p{
    color:white;
    opacity: 0.8;
}
.card a:hover{
    background-color: #fe0a54;
    color: white;
}

.card a{
    border-radius: 30px;
    background-color: black;
    border-color: #fe0a54;
    border-width: 3px;
    font-weight: bold;
}
.social a{
    color: white;
    opacity: 0.7;
    font-size: 20px;
}
.social a:hover{
    color:#fe0a54;
}
.next-page {
    font-weight: bolder;
    color: grey;
    animation: updown 1s infinite alternate-reverse;
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

.con{
   opacity: 0.7;
   color: grey;
   
}

.card h5{
    font-size: 22px;
    font-weight: bold;
}
.card p{
    font-weight: bold;
}

.k i{
    font-size: 60px;
    color: whitesmoke;
    padding-right: 20px;
    text-align: center;

    
}
.l i{
    font-size: 60px;
    color: whitesmoke;
    padding-right: 20px;
}

.m{
    padding-top: 20px;
}

.k h2{
    padding-bottom: 20px;
}
.l h2{
    padding-bottom: 20px;
}

.in input{
    border-color: lightgrey;
    opacity: 0.8;
    border-width: 3px;
}

.in textarea{
    border-color: lightgrey;
    opacity: 0.8;
    border-width: 3px;
    font-size: large;
    
}

.in input{
    background-color: #1d1d1d;
    color: white;
    font-weight: bold;
    font-size: large;
}

.in textarea{
    background-color: #1d1d1d;
    color: white;
    font-weight: bold;
}

.in input:focus {
    background-color: #1d1d1d;
    border-color: #fe0a54;
    border-width: 4px;
    transition: ease-in 0.3s;
    color: white;
}

.in textarea:focus {
    background-color: #1d1d1d;
    border-color: #fe0a54;
    border-width: 4px;
    transition: ease-in 0.3s;
    color: white;
}

.in a{
    border-radius: 30px;
    background-color: black;
    border-color: #fe0a54;
    border-width: 3px;
    font-weight: bold;
}
.in a:hover{
    background-color: #fe0a54;
    color: white;
}
.navbar{
    font-size: larger;
    font-weight: bolder;
    background-color:black ;
}


#Navbar a:hover {
    color: #fe0a54;
}

.a{
    font-weight: bold;
    opacity: 0.7;
}
