@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1d1d1d;
}

#loader {
    background: #000 url(images/load.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

body {
    overflow-y: scroll;
    position: relative;
}

.sidebar a:hover {
    color: #fe0a54;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d1d1d;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.nav {
    margin-top: 40px;
}

.sidebar a {
    display: block;
    color: grey;
    padding: 10px;
    text-decoration: none;
    margin-left: 40px;
    font-size: 22px;
    margin-bottom: 10px;
}

.sidebar a.active {
    color: #fe0a54;
}

.sidebar a:hover {
    color: #fe0a54;
}

.openbtn {
    font-size: x-large;
    cursor: pointer;
    color: grey;
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    opacity: 0.5;
}

#main {
    transition: margin-left 0.2s;
    padding: 16px;
}

#main :hover {
    color: #fe0a54;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 20px;
    opacity: 0.5;
}

.scroll-container {
    position: relative;
    overflow-y: scroll;
    margin-left: 80px;
}

.primary {
    color: #09fdd9;
    font-size: 98px;
}

.secondary {
    color: #fe0a54;
    font-size: 98px;
}

#home {
    height: 100vh;
}

.j {
    font-size: 98px;
    color: white;
}

.a {
    font-size: large;
    margin-top: 20px;
    color: lightgrey;
    opacity: 0.4;
    margin-bottom: 20px;
    font-family: 'Abel', sans-serif;
}

.social a {
    letter-spacing: 20px;
    color: lightgrey;
    opacity: 0.4;
    font-size: large;
}

.social a :hover {
    color: #09fdd9;
}

.next-page {
    font-size: 12px;
    font-weight: bolder;
    color: grey;
    opacity: 0.5;
    text-align: center;
    justify-content: center;
    animation: updown 1s infinite alternate-reverse;
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

.down-arrow-text,
.down-arrow-icon {
    text-align: center;
    opacity: 0.5;
}

.down-arrow-text {
    letter-spacing: 1.1px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0 !important;
    font-size: 11px;
}

.down-arrow-icon {
    font-size: 1.6rem;
}

.card {
    background-color: #1d1d1d;
    color: white;
    border-left-color: #fe0a54;
    border-left-width: 5px;
}

#about,
#skills,
#contact,
#project {
    margin-left: 80px;
}

#edu {
    color: gray;
    opacity: 0.5;
    margin-bottom: 30px;
}

#e {
    color: gray;
    opacity: 0.5;
    margin-left: 40px;
    margin-top: 20px;
}

#s,
#s9 {
    color: gray;
    opacity: 0.5;
    /* margin-left: 40px; */
    margin-top: 100px;
}

.skill-bar span {
    color: white;
    font-size: small;
    font-family: 'Abel', sans-serif;
}

.progress {
    width: 500px;
    margin-top: 10px;
}

#f1 {
    margin-left: 400px;
}

#f2,
#f3 {
    margin-left: 330px;
}

#f4 {
    margin-left: 380px;
}

.progress-bar {
    background-color: #fe0a54;
}

.bar {
    margin-top: 40px;
}

.card-text {
    letter-spacing: 1.1px;
    font-family: 'Abel', sans-serif;
    margin-bottom: 0 !important;
    font-size: 16px;
}

.btn-dark {
    margin-top: 30px;
    border-color: #fe0a54;
    border-width: 2px;
    background-color: #1d1d1d;
    border-radius: 30px;
}

.btn-dark:hover {
    background-color: #fe0a54;
}

.con input {
    margin-top: 10px;
    width: 700px;
    border-color: lightgrey;
    opacity: 0.5;
    border-width: 3px;
}

#me {
    height: 200px;
}

.con input {
    background-color: #1d1d1d;
}

.con input:focus {
    background-color: #1d1d1d;
    border-color: #fe0a54;
    border-width: 4px;
    transition: ease-in 0.3s;
}

#co {
    margin-bottom: 30px;
    letter-spacing: 0.3;
}

.nav a:active {
    color: #fe0a54;
}


/* .loader-wrapper {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 999999999;
    background-color: var(--black);
}

#loader {
    animation: spin 1s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #fe0a54;
    border-top-color: #fe0a54;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    z-index: 1;
}

#loader:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #09fdd9 ;
    border-top-color: #09fdd9;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
}
#loader:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: lightgrey;
    border-top-color: lightgrey;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */